<%- include('header') -%>


    <ul>
        <% for (let i = 0; i < todos.length; i++) { %>
            <% let style = todos[i].completed ? "text-decoration:line-through" : "text-decoration:none" %>
            
            <li>
                <label for=<%= todos[i].id%>>
                    <form action="/complete" method="post">
                        <input onchange="this.form.submit()"  type="checkbox" name='checkbox' value=<%= todos[i].id%>  id=<%= todos[i].id%> >
                    </form>
                    <span style=<%= style %>>
                        <%= todos[i].value %>
                    </span>
                    <form action="/delete" method="post">
                        <button type="submit" name="delete" value=<%= todos[i].id%>>delete</button>
                    </form>
                    <form action="/edit" method="post">
                        <input type="text" name="<%= todos[i].id%>">
                        <button type="submit" name="update" value=<%= todos[i].id%>>update</button>
                    </form>
                </label>
            </li>
        <% } %>
    </ul>
    <form action="/" method="post">
        <label for="todo">Add a new todo</label>
        <input type="text" id="todo" name="todo">
        <button type="submit">Add</button>
    </form>



<%- include('footer') -%>